/* Popup.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
.popup {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
  
.button-apply {
    background-color: #28a745; /* Verde */
    color: white;
}
  
.content {
    margin-bottom: 20px;
}
  
.button {
    background-color: #6a0dad; /* Morado */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
  
.button:hover {
    background-color: #5a0cad; /* Tono más oscuro para hover */
}
  