/* Popupcheck.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup {
    background-color: white;
    border-radius: 15px;
    padding: var(--space-5);
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
  }
  
  .content {
    margin-bottom: var(--space-5);
  }
  
  .button {
    border: none;
    border-radius: 2px;
    padding: var(--space-3) var(--space-5);
    margin: var(--space-1);
    cursor: pointer;
  }
  
  .button-apply {
    background-color: var(--gris-2); /* Deshabilitado inicialmente */
    color: white;
  }
  
  .button-apply.enabled {
    background-color: var(--verde-icesi); /* Verde */
  }
  
  .button-close {
    background-color: var(--naranja-icesi); /* Rojo */
    color: white;
  }
  